<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<!--    <welcome-file-list>-->
<!--        <welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>-->
<!--    </welcome-file-list>-->
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.epam.hotel.controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/command</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>com.epam.hotel.controller.listener.InitListener</listener-class>
    </listener>
    <filter>
        <filter-name>MenuInitializer</filter-name>
        <filter-class>com.epam.hotel.controller.filter.MenuInitializer</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MenuInitializer</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>IndexPage</filter-name>
        <filter-class>com.epam.hotel.controller.filter.IndexPage</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IndexPage</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CommandFilter</filter-name>
        <filter-class>com.epam.hotel.controller.filter.CommandFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CommandFilter</filter-name>
        <url-pattern>/command</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>MenuFilter</filter-name>
        <filter-class>com.epam.hotel.controller.filter.MenuFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MenuFilter</filter-name>
        <url-pattern>/page</url-pattern>
    </filter-mapping>
</web-app>